header{
  // position: absolute;
  width: 100%;
  background: #303030;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px 0;
  height: 80px;
  a{
    color:#fff;
  }
  .fa-bars{
    display: none;
    color:#fff;
    font-size: 2rem;
  }
  nav {
    // display: flex;
    ul{
      display: flex;
      justify-content: space-between; 
    }

    li{
       margin: 0 15px;
       justify-content: space-between;
       a{
         font-size: .8em;
         text-decoration: none;
       } 
    }

  }
}
@media only screen and (max-width: 800px){
  header{
     padding: 0px;
     .logo{
       padding-left: 15px;
     }
  }

}


@media only screen and (max-width: 600px){
  header{
    //  padding: 0px 10px 0;
     height: auto;
     min-height: 50px;
     display: block;
     position: relative;

     .logo{
       width: 100%;
       display: block;
       padding-top: 20px;
       margin: 0px;
       margin-left: -5px; 
       a{
         padding: 0px;
       }
     }

     .fa-bars{
       display: inline-block;
       position: absolute;
       top:10px;
       right:10px;
       cursor: pointer;
     }
      

  }
   ul.collapsed{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 15px 0;
      // display: none;
      overflow: hidden;
      max-height: 0;
      -moz-transition-duration: 0.4s;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s;
      -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      
      &.is-expanded{
        // display: block;
        // overflow-y: hidden;
        overflow: hidden;
        max-height: 500px; /* approximate max height */

        -moz-transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -moz-transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        // max-height: 1000px;
        // overflow: hidden;
      }

   
      li{
        padding: 15px 10px;
        margin:0px 0px;
        width: 100%;
      }
    }
}