input{
  border: 0px;
  border-bottom: 1px solid #303030;
  outline: none;
  background: none;
  width: 100%;
  display: flex;
  padding: 4px 4px;
  font-size: 1.1em;
  margin-bottom: 30px; 
}
textarea{
  border: 1px solid #303030;
  outline: 0px;
  width: 100%;
  min-height: 300px;
  background: none;
  padding: 4px;
  font-size: 1.1em;
}
label{
  color:#303030;
}
button{
  background: #303030;
  padding: 20px 80px;
  color:#fff;
  font-size: 1em;
  border: 0px; 
  border-radius:0px;
  margin: 20px 0px;
  width: 100%;
  max-width: 320px;

}